/* -----------------------------------------------------------------------------

  Root

  ----------------------------------------------------------------------------- */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    
  }

  body {
    color: #6d6d6d;
    background-color: black;  
    font-size: 14px;
    line-height: 1.8;
  }

  div{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }

  h1,
  h2,
  h3{
    margin: 0 !important;
  }
/* -----------------------------------------------------------------------------

  Links

  ----------------------------------------------------------------------------- */
  a {
    color: #ff2850;
    text-decoration: none;
  }

  a:hover {
    color: #c10024;
  }

/* -----------------------------------------------------------------------------

  Text Stuff

  ----------------------------------------------------------------------------- */
  b,
  strong {
    font-weight: 700;
  }

  i,
  em {
    font-style: italic;
  }

/* -----------------------------------------------------------------------------

  Embedded Content

  ----------------------------------------------------------------------------- */
  img {
    max-width: 100%;
    height: auto;
  }

/* -----------------------------------------------------------------------------

  Primary Layout

  ----------------------------------------------------------------------------- */
  .container {
    margin: 0 auto;
    padding: 0 24px;
    position: relative;
  }

  @media all and (min-width: 480px) {
    .container {
      padding: 0 24px;
    }
  }

  @media all and (min-width: 720px) {
    .container {
      padding: 0 48px;
    }
  }


