<link rel="stylesheet" type="text/css" href="/css/socialicons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<ul class='social' style="list-style: none;">
  <li>
    <a class="fa fa-facebook" target="_blank" href="https://www.facebook.com/skylitdesigns1/">    
      <span>Facebook</span>
  </a> 
</li>
<li>
    <a class="fa fa-instagram" target="_blank" href="https://www.instagram.com/skylitdesigns/">
      <span>Instagram</span>
  </a>
</li>

<li>
    <a class="fa fa-youtube" target="_blank" href="https://twitter.com/skylitdesigns">
        <span>YouTube</span>
    </a>
</li>
<li>
    <a class="fa fa-twitter" target="_blank" href="https://twitter.com/skylitdesigns">
      <span>Twitter</span>
  </a>
</li>



<li>
    <a class="fa fa-500px" target="_blank" href="https://500px.com/skylitdesigns">
        <span>500px</span>
    </a> 
</li>
</ul>